<!-- <app-por-capital></app-por-capital>
<app-por-pais></app-por-pais>
<app-por-region></app-por-region>
<app-sidebar></app-sidebar>
<app-ver-pais></app-ver-pais> -->

<div class="row containter mt-4">
    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>

        <ul class="list-group">
            <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">Buscar país</li>
            <li routerLink="region" routerLinkActive="active" class="list-group-item">Por región</li>
            <li routerLink="capital" routerLinkActive="active" class="list-group-item">por capital</li>
        </ul>

    </div>

    <div class="col-9">
        <router-outlet></router-outlet>
    </div>

</div>